{% extends "base.html" %} 

{% block title %}About{% endblock %}

{% block content %}
<main class="aboutPage">
  <section>
    <div class="tea">
      <img
        src="{{ url_for('static', filename='image/storyPage/tea.png') }}"
        alt="tea leaves images"
      />
      <h1>About REATEA</h1>
      <p class="origin">
        Orginating from Canada, REATEA was founded in 2005 with a mission to make a high-quality,
        freshly brewed teas accessible to discerning tea drinkers. Built on a sense of mindfulness with
        every sip, REATEA is handcrafted by tea masters with over 20 years of exerpeince, incluing having
        its own tea mountain and farms, professional tea tasters and tea roasters.
      </p>
      <p class="goal">
        After a long day, you all want to treat yourself to a refreshing and relaxing drink. 
        REATEA will customize your drink to your unique taste buds. 
      </p>
    </div>
  </section>
</main>
{% endblock %}
