{% extends "base.html" %} 

{% block title %}About{% endblock %}

{% block content %}
<main class="aboutPage">
  <section>
    <h1>Our Story</h1>
    <p>&#9728  Each person is individually unique. Taste buds and preferences. 
      After a long day, you all want to treat yourself to a refreshing drink. You will take control of your drink in your beverage customization process, 
      allowing you to leave the store satisfied instead of empty-handed due to a lack of choices.</p>
    
    <p>&#9728  At ReaTea, you will no longer need to worry about not being able to choose a drink 
      since you will make the decision of what ingredients you want in your beverage 
      because you know what you need and like.</p>
  </section>
</main>
{% endblock %}
