{% extends "base.html" %} {% block title %}Customize{% endblock %} {% block
content %}
<main>
  <div class="menucustomPage">
    <section class="menucustomNavBar">
      <h1 class="stepTitile">Let's Start !</h1>
      {% for category in categories %}
      <h3>
        <a href="#{{ category }}">| Choose your {{ category|capitalize }}</a>
      </h3>
      {% endfor %}
    </section>

    <section class="menucustomItem">
      <p>Enjoy your time!</p>
      <p class="reminder">Checkout instruction page for more information.</p>
      {% for category in categories %}
      <h2 id="{{ category }}">{{ category|capitalize }}</h2>
      <ul class="itemType">
        {% for product in products[category] %}
        <li>
          <img
            src="{{ url_for('static', filename='image/customize1Page/' + category + '/' + product.name + '.png') }}"
            alt="{{ product.name }} images"
            width="110"
            height="100"
            onerror="this.onerror=null;this.src='{{ url_for('static', filename='image/customize1Page/placeholder.png') }}';"
          />
          <h3 id="{{ product }}">{{ product.name }}</h3>
          <p>{{ product.description }}</p>

          <button
            class="addingredientButton"
            type="button"
            onclick="selectItem(this, '{{ product.name }}', '{{ category }}')"
            data-item="{{ product.name }}"
            data-category="{{ category }}"
          ></button>
        </li>
        {% endfor %}
      </ul>
      {% endfor %}
      <button class="addMenuButton" onclick="createDrink()">
        Create Drink
      </button>
      <input
        id="authStatus"
        type="hidden"
        value="{% if current_user.is_authenticated %}true{% else %}false{% endif %}"
      />
    </section>
  </div>
</main>

{% endblock %}
