{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<main class="homeContent">
  <section>
    <h1 class="homeSlogan">REATEA FOR YOU</h1>

    <p class="contentWord">
      "Indulge in a unique and refreshing bubble tea experience that's tailored
      to your taste buds. Our team at ReaTea is dedicated to crafting the
      perfect drink just for you.
    </p>
    <p class="contentWord">
      With our customizable options, you'll always find your perfect blend.
      Treat yourself today and discover the difference at ReaTea."
    </p>
    <p class="contentWord3">— The Codem Tea</p>
  </section>

  <section>
    <div class="backpic">
      <img
        class="backpic1"
        src="{{ url_for('static', filename='image/homePage/teabackground.jpg') }}"
        alt="tea leaves images"
        width="320"
        height="225"
      />
      <img
        class="backpic2"
        src="{{ url_for('static', filename='image/homePage/bubbleTeaIngredient.jpg') }}"
        alt="bubble tea ingredient images"
        width="320"
        height="225"
      />
      <img
        class="backpic3"
        src="{{ url_for('static', filename='image/homePage/bubbleTeaOnHand.jpg') }}"
        alt="bubble tea on hand images"
        width="320"
        height="225"
      />
      <img
        class="backpic4"
        src="{{ url_for('static', filename='image/homePage/twoBubbleTea.jpg') }}"
        alt="two bubble tea images"
        width="320"
        height="225"
      />
    </div>
  </section>
</main>
{% endblock %}
