{% extends "base.html" %} {% block title %}Signup{% endblock %} {% block content
%}
<main class="signupPage">
  <section class="signupSection">
    <h1>Join ReaTea Today !</h1>
    {% if error %}
    <p>" >>> {{ error }} !"</p>
    {% endif %}
    <form action="/signup" method="POST" class="signupForm">
      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="username"
        required
      />
      <br />
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="password"
        required
      />
      <br />
      <label for="confirm_password">Confirm Password:</label>
      <input
        type="password"
        id="confirm_password"
        name="confirm_password"
        placeholder="password again"
        required
      />
      <br />
      <label for="submit_signupinfo">Submit</label>
      <input class="signupsubmitButton" type="submit" value="Sign Up" />
    </form>
  </section>
</main>
{% endblock %}
